<main class="min-h-full">
  <app-navbar (openModalLogin)="modalLogin.openModal()"></app-navbar>

  <app-modal [title]="'Iniciá sesión'" #modalLogin>
    <app-login
      (openRegisterModal)="modalRegister.openModal()"
      (closeLoginModal)="modalLogin.closeModal()"
    ></app-login>
  </app-modal>

  <app-modal [title]="'Registrate'" #modalRegister>
    <app-register
      (openLoginModal)="modalLogin.openModal()"
      (closeRegisterModal)="modalRegister.closeModal()"
    ></app-register>
  </app-modal>

  <router-outlet> </router-outlet>
</main>
